.carousel img {
  width: 100%;
  height: 90%;

  display: none;
}

.carousel img.active {
  display: flex;

  animation: fade 0.8s;
}

@keyframes fade {
  from {
    transform: translateX(-1200px);
  }

  to {
    transform: translateX(0px);
  }
}
