@font-face {
  font-family: Ionicons;
  src: url("../fonts/ionicons.ttf");
}

@font-face {
  font-family: Poppins-Black;
  src: url("../fonts/Poppins-Black.ttf");
}
@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-LightItalic;
  src: url("../fonts/Poppins-LightItalic.ttf");
}
