.header-container {
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.left-header {
  display: flex;
  align-items: center;
}

.left-header img {
  width: 28px;
  height: 28px;
}

.left-header .brand {
  margin-left: 5px;
}
.left-header .brand h3 {
  line-height: 10px;
  font-size: 16px;
}
.left-header .brand p {
  line-height: 12px;
}

.right-header {
  display: flex;
}

.right-header .social {
}
