section.news {
  display: flex;
  flex-direction: column;
  margin: 120px 0;
}

.news > .top {
  display: flex;
  align-items: center;

  margin-left: 180px;
}

section.news .bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 15px;
}

.news-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;

  height: 370px;
  width: 370px;
  border: 2px solid white;

  margin: 15px;
}

.news-item-hover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.news-item:hover {
  border: 2px solid var(--color);
}
.news-item:hover .news-item-hover {
  background-color: white;
}

.news-item-time {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.news-item:hover .news-item-time {
  color: #999;
}

.news-item-title {
  margin-left: 20px;
  margin-right: 20px;
  transform: translateX(-80px);
  transition: transform 1s ease;
}

.news-item:hover .news-item-title {
  transform: translateX(0px);
  color: black;
}

.news-item-description {
  margin-left: 20px;
  margin-right: 20px;
  transform: translateY(-20px);
  transition: transform 1s ease;
}

.news-item:hover .news-item-description {
  transform: translateY(0px);
  color: black;
}

.news-item-continue {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.news-item:hover .news-item-continue {
  color: var(--color);
}

.news-item-time,
.news-item-title,
.news-item-description,
.news-item-continue {
  color: transparent;
}

.news-item:hover .news-item-time,
.news-item:hover .news-item-title,
.news-item:hover .news-item-description,
.news-item:hover .news-item-continue {
  display: inline-block;
}
